<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>  
</head>
<body>
    <nav>

    </nav>
    <div id="main-section">
        <nav id="room-sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}

        </nav>
        <div id="rigthside-pannel">
            <div id="display-message-section">

            </div>
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>

            </div>

        </div>
    </div>
    
    <span id="get-username">{{ username }}</span>


    <script type="text/javascript">
        const username = `{{ username|e }}`;//escaping special characters
    </script>

    <script src="{{ url_for('static', filename='scripts/chat.js') }}">
    </script>  

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous">
    </script>
    
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}">
    </script>
</body>
</html>